*{
	margin: 0px;
	padding: 0px;
}

html{
	background-color: gray;
	background-image: representacion-3d-fondo-textura-hexagonal_23-2150796422.avif;
}

body{
	width: 1000px;
	height: 1000px;
	background-color: midnightblue;
	margin: auto;
}
header{
	width: 1000px;
	height: 200px;
	background-color: black;
}
nav{
	width: 1000px;
	height: 50px;
	background-color: black;
}
article{
	width: 800px;
	height: 700px;
	background-color: #122562;
	float: left;
}
aside{
	width: 200px;
	height: 700px;
	background-color: black;
	float: left;
}
footer{
	width: 1000px;
	height: 50px;
	background-color: black;
	float: left;
}

nav a {
	text-decoration: none;
	color: inherit;
	font-size:20px;
	font-family:tahoma ;
}

nav li{
display: inline-block;
padding:12px 10px;
box-shadow: 0 0 10px greenyellow;
color:#fff;

}

nav li:hover{ 
background-color: #000066;
color
}
nav ul{
	text-align: right;
}
/*Menu de redes sociales*/ 
.social ul{
	list-style: none;
	text-align: center;
}

.social li{
	display: inline-block;
}

.social ul li img{
	width: 25px;
}

.social ul li a{
	display: inline-block;
	padding: 0,3x 0,3px
	transition:all 0.3s;
}

.social ul li .iconogoogle{
	background-color: black;
}

.social ul li .iconox{
	background-color: black;
}

.social ul li .iconoface{
	background-color: black;
}

.social ul li .iconoinstagram{
	background-color: black;
}

.social ul li .iconowhatsapp{
	background-color: black;
}

.social ul li a:hover{
	background-color: grey;
	padding: 5px 7px ;
	box-shadow: 0 0 25px #fff;
}


h3{
	color: white;
}